.textbar{
    margin-left: 4rem;
    margin-top: 2rem;
    
    
}


#textbar{
   
    width: 65vw;
    height: 50vh;
    border: 2px solid black;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 0.5rem;

}
.textbarcontainer{
    
}
.buttontextbar{
    margin-left: 2rem;
}
button{
    background-color: rgb(17, 0, 248);
    border: 1px solid white;
    border-radius: 0.3rem;
    color: white;
    width: 5rem;
    height: 1.5rem;
    margin-left:1rem ;
}
#strong{
    margin-left: 5rem;
}
#text{
    margin: 1rem;
}
#readtime{
    margin-left: 2rem;
}
